body {
  height: auto;
  min-height: 100%;
}
.wrapper {
  height: auto;
  .content-wrapper {
    min-height: 960px;
    .content {
      padding: 0;
    }
  }
}


.intro-header {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /*text-align: center;*/
  color: #f8f8f8;
  background-image: url(/images/main-header.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.header-title {
  animation: from-left 1s 1 ease-in-out;
  font-weight: bold;
  font-size: 6rem;
  font-stretch: extra-expanded;
  text-shadow: -2px 1px 6px #4a4747;
  text-transform: uppercase;
}

.dainsys-logo {
  cursor: pointer;
  height: 250px;
  max-width: 14rem;
  max-height: 14rem;
}

.more-button {
  position: absolute;
  bottom: 20px;
  color: white;
}

.more-button:hover, .more-button:focus {
  color: #e3e3e3;
}

.divider {
  border-top: white .95rem solid;
  margin: 1.5rem;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondary-header {
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
}
.header-description {
  animation: from-bottom 1s 1 ease-in-out;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.call-to-action {
  margin-top: 3.5rem;
  animation: from-right 1s 1 ease-in-out;
  // background-color: transparent;
  // color: white;
  font-weight: 800;
  text-transform: uppercase;
  // text-shadow: -1px 1px 3px #030303;
  box-shadow: -1.5px 1.5px 3px #030303;
}
@keyframes from-left {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
}
@keyframes from-top {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes from-bottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes from-right {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
}
@keyframes from-bottom-left {
  from {
    transform: translateY(50px);
    transform: translateX(-50px);
    opacity: 0;
  }
}
@keyframes from-bottom-right {
  from {
    transform: translateY(50px);
    transform: translateX(50px);
    opacity: 0;
  }
}
@keyframes from-top-left {
  from {
    transform: translateY(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
}
@keyframes from-top-right {
  from {
    transform: translateY(-50px);
    transform: translateX(50px);
    opacity: 0;
  }
}

// @media only screen and (min-width: 900px) {
//   .dainsys-logo {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 450px;
//     height: 450px;
//   }
// }
