body {
    height: auto;
    min-height: 100%;
}
.wrapper {
    height: auto;
    .content-wrapper {
        min-height: 960px;
        .content {
            padding: 0;
        }
    }
}
.overlay::after {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}
.intro-header::after {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}
.intro-header {
    background-color: black;
    background-image: url(/images/main-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-header {
        min-height: 100vh;
        width: 100%;
        // font-family: "Roboto", sans-serif;
        color: #f8f8f8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .app-title {
            text-transform: uppercase;
            font-stretch: normal;
            font-weight: 900;
            font-size: 50px;
            margin-bottom: 20px;
            text-shadow: -2px 1px 6px #030303;
        }
        .lead {
            max-width: 50%;
            line-height: 1.75;
            font-size: medium;
            letter-spacing: 3px;
        }
        .dainsys-logo {
            cursor: pointer;
            height: 250px;
            max-width: 14rem;
            max-height: 14rem;
        }
        .call-to-action {
            margin-top: 1.5rem;
            color: #030303;
            font-weight: 900;
            text-transform: uppercase;
            // text-shadow: rgba(0, 0, 0, 0.7) -2px 2px 0px;
            box-shadow: -1.5px 1.5px 3px rgba(0, 0, 0, 0.8);
        }     
        .more-button {
            position: absolute;
            bottom: 20px;
            color: white;
            align-self: center;
        }
            
        .more-button:hover, .more-button:focus {
            color: #e3e3e3;
        }
    }
}

.secondary-header {
    padding-top: 7rem;
    padding-bottom: 7rem;
    text-align: center;
}   

.animatable {
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.from-left {
    animation: from-left 0.5s 1 ease-in-out;
}
.from-bottom {
    animation: from-bottom 0.5s 1 ease-in-out;
}
.from-right {
    animation: from-right 0.5s 1 ease-in-out;
}
.from-top {
    animation: from-top 0.5s 1 ease-in-out;
}

@keyframes from-left {
    from {
        transform: translateX(-15px);
        opacity: 0;
    }
}
@keyframes from-top {
    from {
        transform: translateY(-15px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes from-bottom {
    from {
        transform: translateY(15px);
        opacity: 0;
    }
}
@keyframes from-right {
    from {
        transform: translateX(15px);
        opacity: 0;
    }
}
@keyframes from-bottom-left {
    from {
        transform: translateY(15px);
        transform: translateX(-15px);
        opacity: 0;
    }
}
@keyframes from-bottom-right {
    from {
        transform: translateY(15px);
        transform: translateX(15px);
        opacity: 0;
    }
}
@keyframes from-top-left {
    from {
        transform: translateY(-15px);
        transform: translateX(-15px);
        opacity: 0;
    }
}
@keyframes from-top-right {
    from {
        transform: translateY(-15px);
        transform: translateX(15px);
        opacity: 0;
    }
}

@media only screen and (min-width: 992px) {
    .intro-header::after {
        content:"";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background-color: rgba(0,0,0,0);
    }
    .intro-header {    
        background-position: 300px center;
        background-size: contain;
        .main-header {
            min-height: 100vh;
            align-items: flex-start;
            width: 70%;
            .app-title {
                font-size: 70px;
            }
            .dainsys-logo {
                display: none;
            }
            .call-to-action {
                margin-top: 6rem;
            }
        }
    }
    
}

@media only screen and (min-width: 1100px) {
    .intro-header {    
        background-position: 450px center;
        .main-header {
            min-height: 80vh;
            padding-left: 0px;
            .app-title {
                font-size: 60px;
            }
        }
    }    
}
@media only screen and (min-width: 1250px) {
    .intro-header {    
        background-position: 500px center;
        .main-header {
            width: 70%;
            min-height: 90vh;
            .app-title {
                font-size: 60px;
            }
        }
    }    
}
