<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-warning">
                <div class="box-body">
                    <doughnut-chart
                        :labels="labels"
                        :datasets="computedDatasets"
                        :options="computedOptions"
                        :height="200"
                    ></doughnut-chart>
                </div>

                <div class="box-footer">
                    <!-- <a href="#">{{ site }}</a> -->
                    <span class="text-primary">{{ site }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
